# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Output files (IMPORTANT for your project)
results/

# Environment variables (if you add later)
.env

# Python packaging
build/
dist/
*.egg-info/

# Coverage / testing
.coverage
htmlcov/

Readme.md